# BDAT 1004 â€“ Data Programming

## Submitted by SRIVAS SATHYANARAYANAN

### Question 1
### What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement

In [ ]:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
b()
b()
b()
a

6

Explanation:

b(): a's value is 0 so as c(a)=a+2 then  0+2=2 noe global a's value gets changed to 2

b(): a's value is 2 now  so as c(a)=a+2 then  2+2=4 now global a's value gets changed to 4

b(): a's value is 4 now  so as c(a)=a+2 then  4+2=6 now global a's value gets changed to 6

So as in third step a=6 (global value is being changed from 0 to 6 when b() is being executed till last step)

### Question 2

### Function fileLength(), given to you, takes the name of a file as input and returns the length of the file:

In [ ]:
def fileLength(fileName):
    try:
        infile=open(fileName)
        data=infile.read()
        ln=len(data)
        infile.close()
        print(ln)
    except IOError:
        print('File ' + fileName + ' not found.')

fileLength('Filelength.txt')
fileLength('filelength.txt')

123
123

## Question 3

### Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also:
### a. extends the Marsupial init constructor to take, as input, the coordinates x and y of the Kangaroo object,
### b. supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the yaxis,  
### c. overloads the str operator so it behaves as shown below.

In [ ]:
class Marsupial:
    def __init__(self):
        self.myLst = []

    def put_in_pouch(self,item):
        self.myLst.append(item)

    def pouch_contents(self):
        return self.myLst

class Kangaroo(Marsupial):
    def __init__(self,x,y):
        Marsupial.__init__(self)
        self.x = x
        self.y = y

    def jump(self,dx,dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return 'I am a Kangaroo located at co-ordinates ({},{})'.format(self.x,self.y)


m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

k = Kangaroo(0,0)
print(k)

k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
km=k.pouch_contents()
print(km)

k.jump(1,0)
k.jump(1,0)
k.jump(1,0)

print(k)

I am a Kangaroo located at co-ordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at co-ordinates (3,0)

### Question 4
### Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x.

In [ ]:
def collatz(x):
    if x == 1:
        return [x]
    elif x%2==0:
        return [x] + collatz(int(x/2))
    else:
        return [x] + collatz(int(x*3+1))

y=collatz(1)
z=collatz(10)
print("collatz(1)")
print(*y,sep = "\n")
print("\ncollatz(10)")
print(*z, sep = "\n")

collatz(1)
1

collatz(10)
10
5
16
8
4
2
1

## Question 5
### Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n

In [ ]:
def binary(n):
    if n == 0:
        return 0
    else:
        binary(n//2)
    print(n % 2,end = '')

Nbr = int(input("Enter your Number: "))
binary(Nbr)

Enter your Number: 9
1001

### Question 6
### Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document.

In [ ]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    Headers = ["h1", "h2"]
    current = -1

    def handle_starttag(self, tag, attrs):
        if tag in HeadingParser.Headers:
            HeadingParser.current = HeadingParser.Headers.index(tag)

    def handle_endtag(self, tag):
        if tag == HeadingParser.Headers[HeadingParser.current]:
            HeadingParser.current = -1

    def handle_data(self, data):
        if HeadingParser.current >= 0:
            print(" " * HeadingParser.current + data)

In [ ]:
infile = open("w3c.html","r")
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
 Principles

### --------------------------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
import sqlite3
con = sqlite3.connect('ipydb.db')
cur = con.cursor()
cur.execute("CREATE TABLE cityWeather (City text, Country text, Season text,Temperature float,Rainfall float)")

In [ ]:
cur.execute("INSERT INTO cityWeather VALUES ('Mumbai', 'India', 'Winter',24.8,5.9)")

In [ ]:
cur.execute("INSERT INTO cityWeather VALUES ('Mumbai', 'India', 'Spring',28.4,16.2)")
cur.execute("INSERT INTO cityWeather VALUES ('Mumbai', 'India', 'Summer',27.9,1549.4 )")
cur.execute("INSERT INTO cityWeather VALUES ('Mumbai', 'India', 'Fall',27.6,346.0)")
cur.execute("INSERT INTO cityWeather VALUES ('London', 'United Kingdom', 'Winter',4.2,207.7 )")
cur.execute("INSERT INTO cityWeather VALUES ('London', 'United Kingdom', 'Spring',8.3,169.6)")
cur.execute("INSERT INTO cityWeather VALUES ('London', 'United Kingdom', 'Summer',15.7,157.0)")
cur.execute("INSERT INTO cityWeather VALUES ('London', 'United Kingdom', 'Fall',10.4,218.5)")
cur.execute("INSERT INTO cityWeather VALUES ('Cairo', 'Egypt', 'Winter',13.6,16.5)")
cur.execute("INSERT INTO cityWeather VALUES ('Cairo', 'Egypt', 'Spring',20.7,6.5)")
cur.execute("INSERT INTO cityWeather VALUES ('Cairo', 'Egypt', 'Summer',27.7,0.1)")
cur.execute("INSERT INTO cityWeather VALUES ('Cairo', 'Egypt', 'Fall',22.2,4.5)")

In [ ]:
cur.execute('SELECT * FROM cityWeather')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

### Question 8
### Write SQL queries on the below database table that return:
### a) All the temperature data.

In [ ]:
cur.execute('SELECT temperature FROM cityWeather')
A=cur.fetchall()
for item in A:
    print(item)

(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)

### b) All the cities, but without repetition.

In [ ]:
cur.execute('SELECT DISTINCT City FROM cityWeather')
B=cur.fetchall()
for item in B:
    print(item)

('Mumbai',)
('London',)
('Cairo',)

### c) All the records for India.

In [ ]:
cur.execute("SELECT * FROM cityWeather WHERE Country='India'")
C=cur.fetchall()
for item in C:
    print(item)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

### d) All the Fall records.

In [ ]:
cur.execute("SELECT * FROM cityWeather WHERE Season='Fall'")
D=cur.fetchall()
for item in D:
    print(item)

('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

### e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

In [ ]:
cur.execute("SELECT City,country,Season FROM cityWeather WHERE Rainfall BETWEEN 200 AND 400")
E=cur.fetchall()
for item in E:
    print(item)

('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')

### f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

In [ ]:
cur.execute("SELECT City,country FROM cityWeather WHERE Season='Fall' AND temperature > 20 ORDER BY temperature ASC")
F=cur.fetchall()
for item in F:
    print(item)

('Cairo', 'Egypt')
('Mumbai', 'India')

### g) The total annual rainfall for Cairo

In [ ]:
cur.execute("SELECT SUM(Rainfall) FROM cityWeather WHERE City='Cairo'")
G=cur.fetchall()
for item in G:
    print(item)

(27.6,)

# h) The total rainfall for each season.

In [ ]:
cur.execute("SELECT SUM(Rainfall) FROM cityWeather GROUP BY Season")
H=cur.fetchall()
for item in H:
    print(item)

(569.0,)
(192.29999999999998,)
(1706.5,)
(230.1,)

###  Question 9
### Suppose list words is defined as follows: words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] Write list comprehension expressions that use list words and generate the following lists:

In [ ]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']

### a)

In [ ]:
a = [elements.upper() for elements in words]
print (a)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

### b)

In [ ]:
b = [elements.lower() for elements in words]
print(b)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

### c)

In [ ]:
c = [len(elements) for elements in words]
print(c)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

### d)

In [ ]:
d = [[elements.upper(),elements.lower(),len(elements)] for elements in words]
print(d)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

### e)

In [ ]:
e = [elements for elements in words if len(elements)>=4]
print(e)

['quick', 'brown', 'jumps', 'over', 'lazy']